<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<configSections>
  <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="NESS.VoucherManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="NPOI.OOXML" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.3.0.0" newVersion="2.3.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <applicationSettings>
  <NESS.VoucherManagement.Properties.Settings>
   <setting name="OutOfOfficeOperations" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <string>1201 = Vacation</string>
      <string>401 = P000501 Sick Leave</string>
      <string>980 = Concediu de odihna</string>
      <string>201 = P000500 Vacation</string>
      <string>201 = Vacation</string>
      <string>401 = Sick Leave</string>
      <string>902 = Decesul unei rude</string>
      <string>501 = Celebration Leave</string>
      <string>901 = Concediu pentru casatorie</string>
      <string>910 = Invoire medicala fara certificat medical</string>
      <string>981 = Concediu medical</string>
      <string>701 = Compassionate Leave</string>
     </ArrayOfString>
    </value>
   </setting>
  </NESS.VoucherManagement.Properties.Settings>
 </applicationSettings>
</configuration>